.vb__breadcrumbs
  .vb__breadcrumbs__path
    %a{:href => "javascript: void(0);"} Home
    %span
      %span.vb__breadcrumbs__arrow
      %span Soko
    %span
      %span.vb__breadcrumbs__arrow
      %strong.vb__breadcrumbs__current Welcome to Soko