.vb__footer
  .vb__footer__inner
    %a.vb__footer__logo{:href => "https://visualbuilder.cloud", :rel => "noopener noreferrer", :target => "_blank"}
      %strong.me-2 Soko
    %br/
    %p.mb-0
      Copyright ©
      :javascript
        document.write(new Date().getFullYear());
      %a{:href => "https://sellpixels.com", :rel => "noopener noreferrer", :target => "_blank"} soko.com
      |
      %a{:href => "https://sellpixels.com/privacy", :rel => "noopener noreferrer", :target => "_blank"} Privacy Policy