.vb__menuLeft
  .vb__menuLeft__mobileTrigger
    %span
  .vb__menuLeft__trigger
  .vb__menuLeft__outer
    .vb__menuLeft__logo__container
      .vb__menuLeft__logo
        %svg{:height => "24px", :version => "1.1", :viewBox => "0 0 24 24", :width => "24px"}
        .vb__menuLeft__logo__name Soko
        .vb__menuLeft__logo__descr Home for Merchants
    .vb__menuLeft__scroll.vb__customScroll
      %ul.vb__menuLeft__navigation
        %li.vb__menuLeft__category
          Sales Management
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Sales Orders
            %span.badge.badge-success.ml-2 4
            %i.vb__menuLeft__item__icon.fa.fa-cart-arrow-down
          %ul.vb__menuLeft__navigation
            %li.vb__menuLeft__item
              %a.vb__menuLeft__item__link{:href => "apps-profile.html"}
                %span.vb__menuLeft__item__title All
            %li.vb__menuLeft__item
              %a.vb__menuLeft__item__link{:href => "apps-calendar.html"}
                %span.vb__menuLeft__item__title Drafts
            %li.vb__menuLeft__item
              %a.vb__menuLeft__item__link{:href => "apps-gallery.html"}
                %span.vb__menuLeft__item__title Abandoned Checkouts
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Products
            %i.vb__menuLeft__item__icon.fa.fa-tag
          %ul.vb__menuLeft__navigation
            %li.vb__menuLeft__item
              %a.vb__menuLeft__item__link{:href => "apps-github-explore.html"}
                %span.vb__menuLeft__item__title All
            %li.vb__menuLeft__item
              %a.vb__menuLeft__item__link{:href => "apps-github-discuss.html"}
                %span.vb__menuLeft__item__title Bundles
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Gift Cards
            %i.vb__menuLeft__item__icon.fa.fa-gift   
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Collections
            %i.vb__menuLeft__item__icon.fa.fa-tags
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Customers
            %i.vb__menuLeft__item__icon.fa.fa-user-o
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Marketing
            %i.vb__menuLeft__item__icon.fa.fa-bullhorn
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Discounts
            %i.vb__menuLeft__item__icon.fa.fa-percent


        %li.vb__menuLeft__category
          Purchase Management
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Purchase Orders
            %span.badge.badge-success.ml-2 1
            %i.vb__menuLeft__item__icon.fa.fa-shopping-cart
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Suppliers
            %i.vb__menuLeft__item__icon.fa.fa-users
        %li.vb__menuLeft__item.vb__menuLeft__item--disabled
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Bill of Materials
            %i.vb__menuLeft__item__icon.fa.fa-bookmark


        %li.vb__menuLeft__category
          Teams
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title All Members
            %i.vb__menuLeft__item__icon.fa.fa-user-o
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Sales
            %i.vb__menuLeft__item__icon.fa.fa-user-o
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Operations
            %i.vb__menuLeft__item__icon.fa.fa-user-o


        %li.vb__menuLeft__category
          Content Management
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Pages
            %i.vb__menuLeft__item__icon.fa.fa-file-text-o
        %li.vb__menuLeft__item.vb__menuLeft__submenu
          %span.vb__menuLeft__item__link
            %span.vb__menuLeft__item__title Navigation
            %i.vb__menuLeft__item__icon.fa.fa-bars
          


      .vb__menuLeft__banner
        %p Let us help you sell better!
        %a.btn.btn-sm.btn-success.btn-rounded.px-3{:href => "https://themeforest.net/item/clean-ui-react-admin-template/21938700", :rel => "noopener noreferrer", :target => "_blank"} Explore Soko
.vb__menuLeft__backdrop