.card.overflow-hidden.mb-4
  .vb__ecommerce__productMark New
  .card-body
    .row
      .col-lg-4{ "data-bind": "with: imageInputModule" }
        %a.vb__ecommerce__productFavorite{ href: "" }
          %i.fa.fa-heart.font-size-21
        .height-250.vb__ecommerce__productMainImage.mb-3
          / ko if: defaultAttachment()
          %img.img-fluid{ "data-bind": "attr: { src: defaultAttachment().dataUrl }" }/
          / /ko
          / ko ifnot: defaultAttachment()
          %img.img-fluid{ src: asset_pack_path("media/src/images/gallery/product-placeholder-3.png") }
          / /ko
        .d-flex.flex-wrap.justify-content-center.mb-3{ "data-bind": "foreach: attachments" }
          .vb__ecommerce__productThumb.width-100.height-100.border.m-2{ "data-bind": "css: { 'border-primary': ($index() == 0) }" }
            %img.img-fluid{ "data-bind": "attr: { src: dataUrl }" }/
      .col-lg-8
        .font-size-24.font-weight-bold.text-dark.mb-2
          %span{ "data-bind": "text: 'KSh ' + customerPrice.price()" }
          %del.align-text-top.font-size-14{ "data-bind": "visible: (customerPrice.compareAtPrice() !== customerPrice.price()), text: 'KSh ' + customerPrice.compareAtPrice()" }
        .pb-3.mb-4.border-bottom
          %a.text-blue{ href: "" }
            %span.font-size-18{ "data-bind": "text: title" }
            %br/
            %span.font-size-16{ "data-bind": "text: subtitle" }
            %br/

        -# Options & Option Values
        -# ------------------------
        -# .mb-4.width-300
        -#   %select.select2


        -# Personalization Fields
        -# -----------------------
        -# .mb-4.width-300

        .mb-4.width-300
          .form-group.col-md-12
            %label.form-label Quantity
            %input.form-control{ type: "number", step: 1, "data-bind": "attr: { min:  customerPrice.minimumOrderQuantity }" }/
          
        %a.width-200.btn.btn-success.btn-with-addon.mr-auto.mb-3.text-nowrap.d-none.d-md-block{ href: "" }
          %span.btn-addon
            %i.btn-addon-icon.fa.fa-plus-circle
          Add To Cart
        .card-header.p-0.mb-4
          .d-flex.align-items-stretch
            %ul.nav.nav-tabs.nav-tabs-line.nav-tabs-line-bold.nav-tabs-noborder.nav-tabs-stretched
              %li.nav-item
                %a#tab-information.nav-link.py-3.active{"aria-selected" => "true", "data-toggle" => "tab", :href => "#tab__productInfo__content"} Product Info
              %li.nav-item
                %a#tab-description.nav-link.py-3{"data-toggle" => "tab", :href => "#tab__deliveryInfo__content"} Delivery Info
        .tab-content
          #tab__productInfo__content.tab-pane.active{"aria-labelledby" => "tab__productInfo__content", :role => "tabpanel"}
            %p{ "data-bind": "html: description"}
            %p
              Care Instructions:
              %ul{ "data-bind": "foreach: careTags"}
                %li{ "data-bind": "text: $data" }
        .tab-content
          #tab__deliveryInfo__content.tab-pane{"aria-labelledby" => "tab__deliveryInfo__content", :role => "tabpanel"}