.d-flex.flex-wrap
  .me-auto.pe-3.my-2
    %i.fa.fa-tag.font-size-21.me-2
    .text-nowrap.d-inline-block.font-size-18.text-dark
      %a.font-size-18.text-gray-6{:href => "javascript: void(0);"} Product  PROD-000001
  .d-flex.flex-wrap.font-size-16
    .me-3.my-2.text-nowrap
      %button.btn.btn-primary.btn-with-addon
        %span.btn-addon
          %i.btn-addon-icon.far.fa-eye
        Preview
    .me-3.my-2.text-nowrap
      %button.btn.btn-success.btn-with-addon
        %span.btn-addon
          %i.btn-addon-icon.far.fa-plus-square
        Save


.card-header.p-0.mb-4
  .d-flex.align-items-stretch
    %ul.nav.nav-tabs.nav-tabs-line.nav-tabs-line-bold.nav-tabs-noborder.nav-tabs-stretched
      %li.nav-item
        %a#tab-overview.nav-link.py-3{ "aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#tab-overview-content" } 
          Overview
      %li.nav-item
        %a#tab-common-information.nav-link.py-3.active{ "aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#tab-common-information-content" }
          Common Information
      %li.nav-item
        %a#tab-variants.nav-link.py-3{ "data-bs-toggle" => "tab", :href => "#tab-variants-content" }
          Variants
          %strong.ms-1 (4)
      %li.nav-item
        %a#tab-associations.nav-link.py-3{ "data-bs-toggle" => "tab", :href => "#tab-associations-content" } Associations
      %li.nav-item
        %a#tab-activity.nav-link.py-3{ "data-bs-toggle" => "tab", :href => "#tab-activity-content" } Activity






.row.p-3
  -# scrollspy
  .col-sm-3
    %nav#variant-sections.navbar.navbar-light.bg-transparent.flex-column.align-items-stretch
      %nav.nav.nav-pills.flex-column
        %a.nav-link.text-gray-6.font-size-15{ href: "#basic-information", data: { turbolinks: 'false' } } Basic Information
        %a.nav-link.text-gray-6.font-size-15{ href: "#images", data: { turbolinks: 'false' } } Images
        %a.nav-link.text-gray-6.font-size-15{ href: "#pricing", data: { turbolinks: 'false' } } Pricing
        %a.nav-link.text-gray-6.font-size-15{ href: "#inventory", data: { turbolinks: 'false' } } Inventory
        %a.nav-link.text-gray-6.font-size-15{ href: "#personalization", data: { turbolinks: 'false' } } Personalization
        %a.nav-link.text-gray-6.font-size-15{ href: "#search-optimization", data: { turbolinks: 'false' } } Search Optimization

  -# spied element
  .col-sm-9{"data-bs-offset" => "50", "data-bs-spy" => "scroll", "data-bs-target" => "#variant-sections", :tabindex => "0"}
    .card.mb-4#basic-information
      .card-header.card-header-flex
        .d-flex.flex-column.justify-content-center.me-auto
          %h5.mb-0.me-2.font-size-16 Basic Information
        .ms-auto.d-flex.flex-column.justify-content-center
          %div
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Unlock Account" }
              %i.fa.fa-unlock
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Mark as important" }
              %i.far.fa-star
            %a.btn.btn-sm.btn-light{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Delete user" }
              %i.far.fa-trash-alt
      .card-body
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

    .card.mb-4#images
      .card-header.card-header-flex
        .d-flex.flex-column.justify-content-center.me-auto
          %h5.mb-0.me-2.font-size-16 Images
        .ms-auto.d-flex.flex-column.justify-content-center
          %div
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
              %i.fa.fa-unlock
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
              %i.far.fa-star
            %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
              %i.far.fa-trash-alt
      .card-body
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

    .card.mb-4#pricing
      .card-header.card-header-flex
        .d-flex.flex-column.justify-content-center.me-auto
          %h5.mb-0.me-2.font-size-16 Pricing
        .ms-auto.d-flex.flex-column.justify-content-center
          %div
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
              %i.fa.fa-unlock
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
              %i.far.fa-star
            %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
              %i.far.fa-trash-alt
      .card-body
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

    .card.mb-4#inventory
      .card-header.card-header-flex
        .d-flex.flex-column.justify-content-center.me-auto
          %h5.mb-0.me-2.font-size-16 Inventory
        .ms-auto.d-flex.flex-column.justify-content-center
          %div
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
              %i.fa.fa-unlock
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
              %i.far.fa-star
            %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
              %i.far.fa-trash-alt
      .card-body
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

    .card.mb-4#personalization
      .card-header.card-header-flex
        .d-flex.flex-column.justify-content-center.me-auto
          %h5.mb-0.me-2.font-size-16 Personalization
        .ms-auto.d-flex.flex-column.justify-content-center
          %div
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
              %i.fa.fa-unlock
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
              %i.far.fa-star
            %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
              %i.far.fa-trash-alt
      .card-body
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

    .card.mb-4#search-optimization
      .card-header.card-header-flex
        .d-flex.flex-column.justify-content-center.me-auto
          %h5.mb-0.me-2.font-size-16 Search Optimization
        .ms-auto.d-flex.flex-column.justify-content-center
          %div
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
              %i.fa.fa-unlock
            %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
              %i.far.fa-star
            %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
              %i.far.fa-trash-alt
      .card-body
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.