.mt-2{ "data-product-form": true }
  .d-flex.flex-wrap
    .me-auto.pe-3.my-2
      %i.fa.fa-tag.font-size-18.me-2
      .text-nowrap.d-inline-block.text-dark
        %a.font-size-18.text-gray-6{:href => "#"} 
          %strong Product  PROD-000001
        %span.badge.badge-pill.badge-success.ms-2
          %i.fa.fa-check
          PUBLISHED
        
    .d-flex.flex-wrap.font-size-18
      .me-3.my-2.text-nowrap
        %button.btn.btn-primary.btn-with-addon
          %span.btn-addon
            %i.btn-addon-icon.far.fa-eye
          Preview
      .me-3.my-2.text-nowrap
        %button.btn.btn-success.btn-with-addon
          %span.btn-addon
            %i.btn-addon-icon.far.fa-plus-square
          Save


  .card-header.p-0.mb-4
    .d-flex.align-items-stretch
      %ul.nav.nav-tabs.nav-tabs-line.nav-tabs-line-bold.nav-tabs-noborder.nav-tabs-stretched
        %li.nav-item
          %a#tab-overview.nav-link.py-3{ "aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#tab-overview-content" } 
            Overview
        %li.nav-item
          %a#tab-common-information.nav-link.py-3.active{ "aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#tab-common-information-content" }
            Common Information
        %li.nav-item
          %a#tab-variants.nav-link.py-3{ "data-bs-toggle" => "tab", :href => "#tab-variants-content" }
            Variants
            %strong.ms-1 (4)
        %li.nav-item
          %a#tab-associations.nav-link.py-3{ "data-bs-toggle" => "tab", :href => "#tab-associations-content" } Associations
        %li.nav-item
          %a#tab-activity.nav-link.py-3{ "data-bs-toggle" => "tab", :href => "#tab-activity-content" } Activity





  .row.p-3
    -# scrollspy
    .col-sm-3
      %nav#variant-sections.navbar.navbar-light.bg-transparent.flex-column.align-items-stretch
        %nav.nav.nav-pills.flex-column
          %a.nav-link.text-gray-6.font-size-15{ href: "#basic-information", data: { turbolinks: 'false' } } Basic Information
          %a.nav-link.text-gray-6.font-size-15{ href: "#images", data: { turbolinks: 'false' } } Images
          %a.nav-link.text-gray-6.font-size-15{ href: "#pricing", data: { turbolinks: 'false' } } Pricing
          %a.nav-link.text-gray-6.font-size-15{ href: "#inventory", data: { turbolinks: 'false' } } Inventory
          %a.nav-link.text-gray-6.font-size-15{ href: "#shipping", data: { turbolinks: 'false' } } Shipping
          %a.nav-link.text-gray-6.font-size-15{ href: "#personalization", data: { turbolinks: 'false' } } Personalization
          %a.nav-link.text-gray-6.font-size-15{ href: "#search-optimization", data: { turbolinks: 'false' } } Search Optimization

    -# spied element
    .col-sm-9{"data-bs-offset" => "50", "data-bs-spy" => "scroll", "data-bs-target" => "#variant-sections", :tabindex => "0"}
      .card.mb-4#basic-information
        .card-header.card-header-flex
          .d-flex.flex-column.justify-content-center.me-auto
            %h5.mb-0.me-2.font-size-16 Basic Information
          .ms-auto.d-flex.flex-column.justify-content-center
            %div
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Unlock Account" }
                %i.fa.fa-unlock
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Mark as important" }
                %i.far.fa-star
              %a.btn.btn-sm.btn-light{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Delete user" }
                %i.far.fa-trash-alt
        .card-body
          .row.mb-4
            .form-group.col-md-6
              %label.form-label Title
              %input.form-control{ placeholder: "e.g Becoming", type: "text", "data-bind": "value: masterVariant.title" }/
            .form-group.col-md-6
              %label.form-label Subtitle
              %input.form-control{ placeholder: "e.g by Michelle Obama", type: "text", "data-bind": "value: masterVariant.subtitle" }/
          .row.mb-4
            .form-group.col-md-12
              %label.form-label Brand
              %select.form-control{ "data-bind": "options: $root.brands, optionsCaption: 'Select/Add Brand...', optionsText: 'text', optionsValue: 'id', value: $root.brand, select2: { placeholder: 'Select/Add Brand...', allowClear: true, tags: true, tokenSeparators: [',', ' '] }" }
                %option{ selected: "selected" } Obamas
                %option Option 2
                %option Option 3
                %option Option 4
                %option Option 5

          .row.mb-4
            .form-group.col-md-12
              %label.form-label Description
              %input#master-variant_description{ name: "content", type: "hidden", value: "Editor content goes here"}/
              %trix-editor{ input: "master-variant_description" }
          .row.mb-4
            .form-group.col-md-12
              %label.form-label Care Instructions
              %select.form-control{ multiple: "multiple", "data-select2-tags": true }
                %option{ selected: "selected" } Avoid Humidity
                %option Keep away from Direct Sunlight
                %option Option 3
                %option Option 4
                %option Option 5

      .card.mb-4#images{ "data-bind": "with: masterVariant.imageInputModule" }
        .card-header.card-header-flex
          .d-flex.flex-column.justify-content-center.me-auto
            %h5.mb-0.me-2.font-size-16 Images
          .ms-auto.d-flex.flex-column.justify-content-center
            %div
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Unlock Account" }
                %i.fa.fa-unlock
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Add Image", "data-bind": "{ click: openAttachmentPicker }" }
                %i.far.fa-plus-square
              %a.btn.btn-sm.btn-light{ "data-bs-placement": "top", "data-bs-toggle": "tooltip", href: "#", title: "Clear All Images", "data-bind": "{ click: removeAllAttachments }" }
                %i.far.fa-trash-alt
        .card-body
          %input{ type: "file", accept: '.png,.jpg,.jpeg,.gif', class: 'd-none', 'data-bind': 'event: { change: onAttachmentChange }' }
          .vb__gallery__items.d-flex.flex-wrap{ "data-bind": "sortable: { data: attachments }" }
            -# .vb__gallery__item{ "data-bind": "if: $index() == 0" }
            -#   .vb__gallery__itemContent
            -#     .vb__gallery__itemControl
            -#       .btn-group.vb__gallery__itemControlContainer
            -#         %button.btn{ type: "button", "data-bind": "{ click: $parent.openAttachmentPicker.bind($parent) }" }
            -#           %i.far.fa-plus-square.fa-2x
            .vb__gallery__item
              .vb__gallery__itemContent{ "data-bind": "css: { 'border border-success': ($index() == 0) }" }
                .vb__gallery__itemControl
                  .btn-group.vb__gallery__itemControlContainer
                    %button.btn{type: "button"}
                      %i.fa.fa-edit
                    %button.btn{type: "button", "data-bind": "{ click: $parent.removeAttachment.bind($parent) }"}
                      %i.fa.fa-trash
                %img{ "data-bind": "attr: { src: dataUrl }" }/
              .text-gray-6{ "data-bind": "text: name" }
           
          .vb__gallery__item{ "data-bind": "if: attachments().length == 0"}
            .vb__gallery__itemContent
              .vb__gallery__itemControl
                .btn-group.vb__gallery__itemControlContainer
                  %button.btn{ type: "button", "data-bind": "{ click: openAttachmentPicker }" }
                    %i.far.fa-plus-square.fa-2x
          
            
      .card.mb-4#pricing
        .card-header.card-header-flex
          .d-flex.flex-column.justify-content-center.me-auto
            %h5.mb-0.me-2.font-size-16 Pricing
          .ms-auto.d-flex.flex-column.justify-content-center
            %div
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
                %i.fa.fa-unlock
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
                %i.far.fa-star
              %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
                %i.far.fa-trash-alt
        .card-body
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

      .card.mb-4#inventory
        .card-header.card-header-flex
          .d-flex.flex-column.justify-content-center.me-auto
            %h5.mb-0.me-2.font-size-16 Inventory
          .ms-auto.d-flex.flex-column.justify-content-center
            %div
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
                %i.fa.fa-unlock
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
                %i.far.fa-star
              %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
                %i.far.fa-trash-alt
        .card-body
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.


      .card.mb-4#shipping
        .card-header.card-header-flex
          .d-flex.flex-column.justify-content-center.me-auto
            %h5.mb-0.me-2.font-size-16 Shipping
          .ms-auto.d-flex.flex-column.justify-content-center
            %div
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
                %i.fa.fa-unlock
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
                %i.far.fa-star
              %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
                %i.far.fa-trash-alt
        .card-body
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

      .card.mb-4#personalization
        .card-header.card-header-flex
          .d-flex.flex-column.justify-content-center.me-auto
            %h5.mb-0.me-2.font-size-16 Personalization
          .ms-auto.d-flex.flex-column.justify-content-center
            %div
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
                %i.fa.fa-unlock
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
                %i.far.fa-star
              %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
                %i.far.fa-trash-alt
        .card-body
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

      .card.mb-4#search-optimization
        .card-header.card-header-flex
          .d-flex.flex-column.justify-content-center.me-auto
            %h5.mb-0.me-2.font-size-16 Search Optimization
          .ms-auto.d-flex.flex-column.justify-content-center
            %div
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Unlock Account" }
                %i.fa.fa-unlock
              %a.btn.btn-sm.btn-light.me-2{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Mark as important" }
                %i.far.fa-star
              %a.btn.btn-sm.btn-light{ "data-bs-placement" => "top", "data-bs-toggle" => "tooltip", href: "#", title: "Delete user" }
                %i.far.fa-trash-alt
        .card-body
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.